{% extends 'Freelancer/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}

    <style>
        body {
            background-color: #2b2c30;
        }
        .section{
            padding-bottom:5em;
        }
        .login-container {
            margin-top: 5%; 
        }

        .section-title {
            margin-bottom: 20px; 
        }
        .cp-text{
            margin-bottom:0em;
          }

        .form-group {
            margin-bottom: 20px; 
        }
        body {
            padding-top: 7em;
        }
        .input {
            width: 60%; 
            padding: 10px; 
            border: 1px solid #ced4da; 
            border-radius: 5px;
        }

        #sub {
            width: 60%; 
            padding: 10px; 
        }

        .error-msg {
            color: red;
        }

        .success-msg {
            color: green;
        }
        
            
        .billing-details {
        background-color: translate;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 40px;
        padding-bottom:30px;
        text-align: center;
        width:40em;
        margin-left:18em;
        }
        
        .link {
         margin-top: 10px;
            }
  
        .link a {
        color: white;
        text-decoration: none;
        }
            
    </style>

<body>
    

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="text-center">User Forgot Password</h3>
                    </div>
                    {% if msg %}
                        <b style="color:black;">{{msg}}</b>
                    {% endif %}
                    <form name="registration" method="POST" action="{% url 'forgot-password' %}">
                        {% csrf_token %}
                    
                        {% comment %} <div class="form-group">
                            <input class="input" type="text" placeholder="Mobile" name="mobile">
                        </div> {% endcomment %}
                        <div class="form-group">
                            <input class="input" type="email" placeholder="Email" name="email">
                        </div>
                                                
                        <div class="form-group">
                            <input class="btn btn-primary" id="sub" type="submit" value="Send OTP">
                        </div>
                        <div class="link"> 

                        <b>Don't Have An Account....<a href="{% url 'registration' %}">Register Now</a></b>
                        </div>
                    </form>
                </div>
                <!-- /Billing Details -->                
            </div>

            
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
</div>

<!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}
